# Configuration file

~CONFIG_VERSION: 1.10.2-2.0.1

general {
    # Set to true to enable fluid merging when quick transfer recipes
    B:EnableFluidMerge=false

    # Set to false to disable auto inventory check
    B:EnableInventoryCheck=true

    # Add string identifier here to disable quick transfer of certain categories of recipe
    # Names can be found in ListRecipeCategory
    S:ListRecipeBlackList <
     >

    # List of recipe categories for reference, this is maintained by the mod automatically
    # Editing the text here will have no effect
    S:ListRecipeCategory <
        minecraft.crafting
        mekanism.precision_sawmill
        forestry.still
        actuallyadditions.booklet
        cookingplus.oilpress
        tconstruct.casting_table
        tinker_io:fuel_input_mechine
        integrateddynamics:dryingBasin
        xreliquary:mortar
        tinker_io:ore_crusher
        jeresources.mob
        mekanism.rotary_condensentrator
        xreliquary:cauldron
        xu2_machine_extrautils2:generator
        jefb-bp
        ie.arcFurnace
        jefb-bm
        actuallyadditions.reconstructor
        mekanism.purification_chamber
        minecraft.brewing
        ie.metalPress
        mekanism.combiner
        actuallyadditions.coffee
        refinedstorage.solderer
        furnus.pulvus
        integrateddynamics:squeezer
        minecraft.smelting
        xreliquary:alkahestryCrafting
        forestry.moistener
        tconstruct.alloy
        mekanism.osmium_compressor
        xu2_machine_extrautils2:furnace
        SoulBinder
        bdew.jeibees.produce.rootTrees
        cookingforblockheads.cowjar
        jefb-tm
        chisel.chiseling
        mekanism.chemical_crystallizer
        cookingplus.fryingpan
        tinker_io:smart_output
        jefb-tp
        Imbuing
        jei.description
        actuallyadditions.crushing
        mekanism.chemical_washer
        mekanism.metallurgic_infuser
        forestry.squeezer
        forestry.centrifuge
        ExtraUtils2.resonator
        jeresources.enchantment
        Enchanter
        mekanism.chemical_dissolution_chamber
        EIOTank
        actuallyadditions.empowerer
        xu2_machine_extrautils2:crusher
        SagMill
        mekanism.chemical_oxidizer
        forestry.fermenter
        DarkSteelUpgrade
        cookingplus.butterchurn
        jefb-bfm
        cookingplus.brickoven
        bdew.jeibees.produce.rootBees
        ie.cokeoven
        SliceNSPlice
        cookingplus.teapot
        mekanism.chemical_infuser
        forestry.bottler
        jeresources.dungeon
        CombustionGenerator
        ie.blastfurnace.fuel
        tconstruct.smeltery
        ie.squeezer
        mekanism.pressurized_reaction_chamber
        tconstruct.dryingrack
        jeresources.worldgen
        chickens.Breeding
        xreliquary:alkahestryCharging
        chickens.Laying
        cookingplus.dryingrack
        mekanism.solar_neutron_activator
        bdew.jeibees.mutation.rootTrees
        AlloySmelter
        mekanism.thermal_evaporation_plant
        cookingplus.saucepan
        AnvilCraftingRT
        mekanism.enrichment_chamber
        bdew.jeibees.mutation.rootBees
        forestry.rainmaker
        mekanism.electrolytic_separator
        cookingplus.sheetpress
        ie.refinery
        cookingplus.icebox
        armorplus:armor_forge
        ie.fermenter
        armorplus:adv_armor_forge
        bdew.jeibees.mutation.rootButterflies
        jeresources.villager
        ie.crusher
        Painter
        forestry.carpenter
        chickens.Drops
        ie.blastfurnace
        jeresources.plant
        mekanism.crusher
        Vat
        cookingplus.fermenter
        forestry.fabricator
        minecraft.fuel
        blockdrops
        mekanism.chemical_injection_chamber
        ie.workbench
     >
}


